<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Akshay</title>
	<link href="static/css/style.css" rel="stylesheet" type="text/css"/>

	<link rel="stylesheet" type="text/css" href="static/css/aos.css">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>
</head>

<body>
			<div id="headercontainer">
		<div id="header">
<!--			<div id="Logo"><a>AKSHAY YADAV</a></div>-->
			<div id="menu">
			<div class="menuitems " ><a href="" id="active">HOME</a></div>
			<div class="menuitems"><a href="/blog">BLOG</a></div>
			<div class="menuitems"><a href="https://www.youtube.com/channel/UCtXiQQ9u2GAlO9y8HzFvrwg">YOUTUBE</a></div>
			</div>
		</div>
		</div>
	<div id="outerclass">

		<div id="innerclass">
			<div id="profileimage"><img src="static/img/Akshayprofile.jpg"></div>
			<div id="about">
				<a id="hello">HELLO EVERYBODY, I AM</a><br/>
				<a id="name">AKSHAY YADAV</a><br/>
				<a id="speciality">DEVELOPER &amp; DESIGNER</a><br/>
				<div id="details">	<a > I am an entrepreneur, a student who is passionate about
					learning different skills. Major areas of work are fashion and lifestyle. Currently working on interior and accessory designing, nature and product photography. Also Compatible with photoshop,
					illustrator, indesign etc.</a>
				</div>
				<div class="mydetails">
					<div class="icon"><img src="static/img/calendar.svg"></div>
					<div class="icondetail"><a>4th March, 1998</a></div>
				</div><br/>
				<div class="mydetails">
					<div class="icon"><img src="static/img/phone.svg"></div>
					<div class="icondetail"><a>8299861512 , 9455294127</a></div>
				</div><br/>
				<div class="mydetails">
					<div class="icon"><img src="static/img/iconfinder_67-gmail_1181190.svg"></div>
					<div class="icondetail"><a>akshayyadav04031998@gmail.com</a></div>
				</div><br/>
				<div class="mydetails">
					<div class="icon"><img src="static/img/iconfinder_Home-01_1976053.svg"></div>
					<div class="icondetail"><a>Chhibramau, Kannauj, UP</a></div>
				</div><br/>
				<div class="socialmedia">
					<div class="facebook" ><a><img src="static/img/iconfinder_Rounded_Facebook_svg_5282541.svg" ></a></div>
					<div class="instagram"><a href="https://www.instagram.com/im_not_aksy/"><img src="static/img/iconfinder_Rounded_Instagram_svg_5282544.svg"></a></div>
					<div class="twitter"><a href="https://twitter.com/BeingAkshay_"><img src="static/img/iconfinder_Rounded_Twitter5_svg_5282551.svg"></a></div>
					<div class="github"><a href="https://github.com/DrdroidAkshay"><img src="static/img/github.png"></a></div>
					<div class="linkedin"><a href="https://www.linkedin.com/in/akshay-yadav-b26904176/"><img src="static/img/linkedin.png"></a></div>
				</div>
			</div>
		</div>
	</div>
       <div id="services">
        <div class="card-group container pt-5">
            <div class="card text-center border-0" data-aos="fade-left" data-aos-offset="300">
    <div class="card-body px-5">
		<img  class="servicesimage" src="static/img/webprogramming.png">
      <h5 class="card-title">Web Development</h5>
      <p class="card-text">Design and development of websites, portfolios, blogs as per customer requirement.</p>
    </div>
  </div>
            <div class="card text-center border-0" data-aos="fade-left" data-aos-offset="300">
    <div class="card-body px-5">
		<img  class="servicesimage" src="static/img/appdevelopment.png">
      <h5 class="card-title">App Development</h5>
      <p class="card-text">Design and development of android based applications.</p>
    </div>
  </div>
            <div class="card text-center border-0" data-aos="fade-left" data-aos-offset="300">
    <div class="card-body px-5">
		<img class="servicesimage" src="static/img/animation.png">
      <h5 class="card-title">Animation</h5>
      <p class="card-text">Short films, video editing, animated videos, invitations etc.</p>
    </div>
  </div>
        </div>
</div>
       		<div class="containerr" id="Gallery">
      <h1>PROJECTS</h1>
                <div class="gallery"  data-aos="fade-up" data-aos-offset="300">
					<div class="projectpic">
  <a target="_blank" href="#">
    <img src="static/img/safepe2.png" alt="REC Kannauj"/>
  </a></div>
  <div class="desc">SafePe - UPI Payments & Credit App</div>
</div>
 <div class="gallery" data-aos="fade-up" data-aos-offset="300">
					<div class="projectpic">
  <a target="_blank" href="#">
    <img src="static/img/portfoliodesign.png" alt="REC Kannauj"/>
  </a></div>
  <div class="desc">Portfolio Design - Web development</div>
</div>
        <div class="gallery" data-aos="fade-up" data-aos-offset="300">
					<div class="projectpic">
  <a target="_blank" href="#">
    <img src="static/img/tripic.png" alt="REC Kannauj"/>
  </a></div>
  <div class="desc">Tripic - Carpooling App</div>
</div>
    </div>

            <div style="background-image:url(static/img/bgfaded.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;background-attachment: fixed;">
    <div id="skills" style="background: rgba(0, 50, 70, 0.7);">
		<h1 >SKILLS</h1>
		<div class="row container mx-auto mt-4">
        <div class="col-md-6 mt-3">
          <div class="py-2">
            <p style="float: left;">HTML & CSS</p>
            <p style="float: right;">%</p>
            <p style="float: right;"><span class="counter-up">85</span></p>
          </div>
          <div class="mt-4 total">
              <div  id="html"  data-aos="fade-right" data-aos-offset="100" ata-aos-duration="300">
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="py-2">
            <p style="float: left;">Python</p>
            <p style="float: right;">%</p>
            <p style="float: right;"><span  class="counter-up">80</span></p>
          </div>
          <div class="mt-4 total">
              <div  id="python" data-aos="fade-right" data-aos-offset="100" ata-aos-duration="300">
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="py-2">
            <p style="float: left;">Django</p>
            <p style="float: right;">%</p>
            <p style="float: right;"><span class="counter-up">65</span></p>
          </div>
          <div class="mt-4 total" >
              <div  id="django" data-aos="fade-right" data-aos-offset="100" ata-aos-duration="300">
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="py-2">
            <p style="float: left;">Android</p>
            <p style="float: right;">%</p>
            <p style="float: right;"><span id="percentage" class="counter-up">70</span></p>
          </div>
          <div class="mt-4 total">
              <div  id="android" data-aos="fade-right" data-aos-offset="100" ata-aos-duration="300">
            </div>
          </div>
        </div>
      </div>
        </div>
</div>
	<div id="carouselExampleControls" class="carousel slide pt-5 text-center text-dark" data-bs-ride="carousel" style="background-color:#f4f4f4;" >
    <h1 style="font-size: 30px;">REVIEWS</h1>
  <div class="carousel-inner " id="reviewbox" style="background-color:white;width:70%;margin:auto; margin-top:20px" data-aos="fade-up" data-aos-offset="300" data-aos-duration="2000">
      {% for review in reviews %}
       {% ifequal review reviews.0 %}
    <div class="carousel-item active text-center pt-5">
      <img src="{{review.image}}" class="d-block" alt="..." style="height:100px; width:100px; margin:auto; border-radius:100px">
        <p class="text-center text-dark" style="background-color:white;height:fit-content; margin:auto;padding:20px">
            {{review.review}}</p>
        <p class="text-center text-dark" style="background-color:white;width:200px;height:fit-content; margin:auto;padding:20px;padding-bottom:40px">-{{review.name}}</p>
    </div>

      {% else %}
      <div class="carousel-item text-center pt-5">
      <img src={{review.image}} class="d-block" alt="..." style="height:100px; width:100px; margin:auto; border-radius:100px">
        <p class="text-center text-dark" style="background-color:white;height:fit-content; margin:auto;padding:20px">
            {{review.review}}</p>
        <p class="text-center text-dark" style="background-color:white;width:200px;height:fit-content; margin:auto;padding:20px;padding-bottom:40px">-{{review.name}}</p>
    </div>
      {% endifequal %}
      {% endfor %}


  </div>
    <button onclick="writeReview()" id="reviewopen" type="button" class="btn btn-dark" style="margin:40px" data-aos="slide-right" data-aos-offset="100">Write a review</button>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<div id="reviewsection" class="text-center" style="height:fit-content;width:100%; background-color:#f4f4f4; display:none">
 <form action="/review" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
  <div class="mb-3 "  style="width:40%;margin:auto">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control text-center"  name="name" aria-describedby="emailHelp">
  </div>
   <div class="mb-3" style="width:40%;margin:auto">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control text-center" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
  </div>
    <div class="mb-3" style="width:40%;margin:auto">
      <label for="review" class="form-label">Your Reviews</label>
      <textarea class="form-control text-center" id="review" name="review" rows="3"></textarea>
    </div>
     <div class="form-group my-4">
         <input type="file" class="form-control-file" id="image" name="image"  accept="image/*"/>
     </div>
  <button type="submit" class="btn btn-dark mb-4" >Submit</button>
</form>
</div>

  <div id="reach" class="py-5 text-center" style="background:#eee">
    <h1 style="font-size: 30px;">CONTACT</h1>
    <div class="container mt-5 contactinfo ">
      <div class=" items " >
        <!-- <div class="col-md-6"> -->
        <i class="fas fa-phone-square-alt mt-3" style="font-size:40px;"></i><br><br>
        <a href="https://api.whatsapp.com/send?phone=+919455294127" target="_blank" style="text-decoration:none; color:white">9455294127</a>, <a
          href="https://api.whatsapp.com/send?phone=+918299861512" target="_blank" style="text-decoration:none; color:white">8299861512</a></div>
      <div class=" items " >
        <i class="fas fa-envelope mt-3" style="font-size:40px;"></i><br><br>
        <a href="mailto:akshayyadav04031998@gmail.com" target="_blank" style="text-decoration:none; color:white">
          akshayyadav04031998@gmail.com</a></div>
      <!-- </div> -->
      <!-- <div class="col-md-6"> -->
      <div class=" items " >
        <i class="fas fa-map-marker-alt mt-3"style="font-size:40px;"></i><br><br>
        Kannauj, Uttar Pradesh<br>
        <a class="maptext" data-bs-toggle="collapse" href="#map" aria-expanded="false" aria-controls="map" style="text-decoration:none;">
          See on Map
        </a></div>
      <!-- </div> -->

      <div id="map" class="container collapse mt-4">
        <a class="btn btn-dark" data-bs-toggle="collapse" href="#map" aria-expanded="false" aria-controls="map" style="color: white; text-decoration:none;background-color:black;padding:10px ">
          Close Map
        </a>
        <iframe width="100%" height="600" style="margin-top:20px"
                src="https://maps.google.com/maps?q=Prempur%20Chhibramau%20Kannauj&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>

      </div>
    </div>
  </div>
<script>
       function writeReview(){
    var z= document.getElementById("reviewsection");
    if (z.style.display === "none") {
    z.style.display = "block";
  } else {
    z.style.display = "none";
  }
    }
</script>
<script src="static/js/aos.js" ></script>
<script type="text/javascript">
    AOS.init({
    });
</script>
 <script src="https://kit.fontawesome.com/8d501b0414.js" crossorigin="anonymous"></script>
<!--   Google map wouldn't work without below script -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<footer class="text-center text-light bg-dark py-3 " style="font-size:15px">
    <a> Copyright &copy; 2021 | All rights reserved</a>
  </footer>
</body>
</html>

